:root {
  --dark: #2e2f42;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --here-background: #2e2f42b2;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --white: #fff;
}

/* Приліпленний футер */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a .underline:focus,
a .underline:hover {
  opacity: 1;
}
/* загальні вимоги до тегів */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.section-c {
  padding-top: 0;
  padding-bottom: 120px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul {
  display: flex;
  gap: 24px;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.link {
  text-decoration: none;
}

.list {
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--dark);
  background-color: var(--white);
}

/* скритий h1 на portfolio*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* весь h2 текст на index.html */
.all-two {
  text-align: center;

  color: var(--dark);

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  margin-bottom: 72px;
}

/* весь h3 */
.desc-three {
  color: var(--dark);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
}

/* Область хедера */

.header {
  border-bottom: 1px solid var(--accent);
  width: 100%;
}

header .container {
  display: flex;
  flex-wrap: wrap;
}

/* Навігація включаючи логотип */
.header-navigation-section {
  display: flex;
  align-items: center;

  margin-right: 332px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand);

  margin-right: 76px;
}

.web_logo {
  color: var(--dark);
}

/* навігація (ссилки) в хедері без логотипу */

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.nav-link {
  position: relative;

  color: var(--dark);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 24px 0;

  transition-property: color;
  transition-duration: 250ms;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.current {
  color: var(--pressed-state);
}

/* Адресса  */
.header-navigation-address {
  align-items: center;
  position: relative;

  font-style: normal;
}

.address-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: right;
}

.address-list-items {
  padding: 24px 0;
}

.header-navigation-address .connect {
  position: relative;

  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 500ms;
}

.header-navigation-address .connect:hover,
.header-navigation-address .connect:focus {
  color: var(--pressed-state);
}

/* лінія під навігацією */
.current:after,
.current:after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state);
}

/* Hero секція */
/* h1 на hiro секції */
.h-hero {
  color: var(--white);
  font-size: 56px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  max-width: 496px;
}

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;

  padding-bottom: 188px;
  padding-top: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* кнопка з hero */
.main_button {
  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;

  background: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  min-width: 169px;
  padding: 16px 32px;
  margin-top: 48px;

  transition: background-color 1000ms ease-in-out;
}

.main_button:focus,
.main_button:hover {
  background: var(--pressed-state);
  cursor: pointer;
}

/* cекція 2 опис та 3 картинки*/

.icon-description {
  width: 64px;
  height: 64px;
  display: flex;
}

.icon-description-div {
  background-color: var(--light);

  border-radius: 4px;

  padding: 24px 100px;
  margin-bottom: 8px;
}

.discription-list-img,
.discription-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.discription-list-items {
  min-width: 264px;
  flex-basis: calc((100% - 72px) / 4);
}

.discription-list-img-items {
  flex-basis: calc((100% - 48px) / 3);
}

.desc-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text);
}

/* секція команди */

.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 12px 12px;
  width: 16px;
  height: 16px;
}

.social-media-list-items-team {
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color, 1000ms;
}

.social-media-list-team {
  margin: 0 auto;
}

.team_section {
  background-color: var(--light);
}

.team-cards {
  max-width: 264px;
}

.team-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-cards-items {
  max-width: 264px;
  width: calc((100% - 72px) / 4);

  text-align: center;

  background: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-cards-items:hover .social-media-list-items-team {
  background-color: var(--pressed-state);
}

.team-cards-items p {
  padding-bottom: 8px;
}

.team-cards-text {
  padding: 32px 16px;
}

.customer-links .icon {
  fill: var(--subtle-text);

  border: 1px solid var(--subtle-text);
  border-radius: 4px;

  width: 168px;
  height: 88px;
  padding: 16px 32px;
  justify-content: center;

  transition-property: fill;
  transition-duration: 750ms;
}

.customers-list-items .customer-four {
  padding: 8px 16px;
}

.customer-links svg:hover {
  fill: var(--pressed-state);
  border-color: var(--pressed-state);
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.customers-list-items {
  position: relative;
  display: flex;
  width: calc((100% - 144px) / 6);
}

/* футер */
.footer {
  background-color: var(--dark);
  color: var(--light);

  padding-top: 100px;
  padding-bottom: 100px;
}

.footer,
.footer-div {
  display: flex;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);

  width: 264px;
}

.white_logo {
  color: var(--light);
}

.logo-bottom {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 16px;
}

/* social links footer */
.social-media {
  margin-left: 120px;
}

.social-media p {
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 8px;
}

.social-media-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 1000ms;
}

.social-media-list-items:focus,
.social-media-list-items:hover {
  background-color: var(--success);
}

/* кнопки з portfolio.html */
.nav-buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.nav-buttons {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--light);
  border-radius: 4px;
  border: 1px solid var(--accent);
  height: 48px;
  padding: 12px 24px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 400ms;
}

.nav-buttons:hover,
.nav-buttons:focus {
  color: var(--white);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* секція з картинками на partfolio.html */
.overlay {
  color: var(--cloud, #f4f4fd);
  background-color: var(--primary-brand);
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 500ms ease-in-out;
  padding: 75px 32px;
}

.images-block-big {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.images-block-big-list {
  position: relative;
  overflow: hidden;
  max-width: 360px;
  background: var(--white);
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 500ms ease-in-out;
}

.images-block-big-list:hover .overlay,
.images-block-big-list:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}

.images-block-big-list:hover,
.images-block-big-list:focus {
  transform: scale(1.05);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.images-block-big a {
  text-decoration: none;
}

.images-block-big-text {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.images_section_portfolio {
  padding: 96px 0 120px 0;
}

.images_section_portfolio p {
  margin-top: 8px;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transform: scale(0);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--accent);
  transition: background-color, background-image 250ms ease-in-out;
}

.modal-btn::before {
  margin: auto;
  content: "";
  width: 11px;
  height: 11px;
  background-image: url(../icons/SVG/cross-close.svg);
  background-size: contain;
  transition: background-color, background-image 250ms ease-in-out;
}

.modal-btn:hover::before {
  margin: auto;
  content: "";
  width: 11px;
  height: 11px;
  background-image: url(../icons/SVG/white-cross-close.svg);
  background-size: contain;
}

.modal-btn:hover {
  background-color: var(--pressed-state);
  border: none;
}
