.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-Client-4 {
  width: 61px;
  height: 32px;
  background-position: 0 0;
}
.icon-antenna_1 {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-astronaut_1 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-clock_1 {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-diagram_1 {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-facebook_1 {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-instagram_2 {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-linkedin_1 {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-Logo {
  width: 59px;
  height: 32px;
  background-position: -432px 0;
}
.icon-Logo1 {
  width: 59px;
  height: 32px;
  background-position: -528px 0;
}
.icon-Logo2 {
  width: 59px;
  height: 32px;
  background-position: -624px 0;
}
.icon-Logo3 {
  width: 59px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-Logo4 {
  width: 59px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-twitter_1 {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}

