.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-customer-five {
  width: 1.84375em;
}

.icon-customer-four {
  width: 1.90625em;
}

.icon-customer-one {
  width: 1.84375em;
}

.icon-customer-six {
  width: 1.84375em;
}

.icon-customer-three {
  width: 1.84375em;
}

.icon-customer-two {
  width: 1.84375em;
}
